<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block head_assets %}
    {% assets "main_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
{% block footer_assets %}
{% assets "main_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
</body>
</html>