{% extends "base.html" %}
{% block title %}Fixer{% endblock %}
{% block head_assets %}
{{ super() }}
    {% assets "fixer_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block body %}
    <section class="sidenav">
        <label for="select"><strong>Currencies</strong></label>
        <select class="form-control vertical-resize" id="select" multiple></select><hr>
        <div id="date"></div><hr>
        <button class="form-control" id="butt">Press me!</button>
    </section>

    <section class="main">
        <div id="results" class="m-2">
            <table class="table" id="table">

            </table>
        </div>
    </section>
{% endblock %}

{% block footer_assets %}
    {{ super() }}
    {% assets "fixer_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}