{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="https://i.imgur.com/ewcJmfh.png" alt="Fixer">
                <div class="carousel-caption">
                    <a href="fixer"><button class="btn btn-lg btn-info">Goto Fixer</button></a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="http://hdwpro.com/wp-content/uploads/2017/07/Nice-1080p-Image.jpg" alt="placeholder">
                <div class="carousel-caption">
                    <button class="btn btn-lg btn-warning">Placeholder</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}