.vertical-resize {
    resize: vertical;
    overflow: auto;
}

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    padding: 20px;
    background-color: #eee;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.main {
    margin-left: 250px; /* Same as the width of the sidebar */
}